body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-size: 50%, 50%;
    text-align: center;
    padding-top: 5rem;
   background-repeat: no-repeat; 
}